################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/WorkflowCoreDemo1.Json/bin
/WorkflowCoreDemo1.Json/bin/Debug/netcoreapp3.1
/WorkflowCoreDemo.Json/obj
/WorkflowCoreDemo1/bin
/WorkflowCoreDemo1/obj
/WorkflowCoreDemo.Json/bin/Debug/netcoreapp3.1
